body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header section - START */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    z-index: 100;
    background-color: #cffbfd;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
}

.logo img{
    width: 9%;
    object-fit: contain;
    padding: 0px 15px 0px 15px;
}

.logo_tg {
    font-size: 24px;
    font-family: Snell Roundhand, cursive;
    color: black;
    font-size: xx-large;
}


.menu {
    padding-right: 24px;
    float: right;
    font-family: Snell Roundhand, cursive;
    font-size: x-large;
}

.navbar {
    display: flex;
    align-items: right;
    list-style: none;
    float:left;
    text-align:left;
}

.navbar li a {
    color: black;
    text-decoration: none;
    padding-right: 16px;
    display: inline-block;
}

.navbar li a:hover {
    font-weight: bolder;
}
/* header section - END */

/* main section - START */
main {
    padding-top: 64px;
    width: 100%;
}

/* topbanner */
.topbanner {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.topbanner img {
    width: 50%;
    padding: 32px 24px 32px 24px; /* top right bottom left*/
    object-fit: contain;
}

.topbanner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 24px 32px 24px; /* top right bottom left*/
}


/* midbanner */
.midbanner {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.midbanner img {
    width: 50%;
    padding: 32px 24px 32px 24px; /* top right bottom left*/
    object-fit: contain;
}

.midbanner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 24px 32px 24px; /* top right bottom left*/
}

/* bottom banner */
.bottombanner{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
}

.bottombanner video{
    width: 80%;
    padding: 32px 24px 32px 24px; /* top right bottom left*/
}

/*final section*/
.finalbanner {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.finalbanner img {
    width: 50%;
    padding: 32px 24px 32px 24px; /* top right bottom left*/
    object-fit: contain;
}

.finalbanner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 24px 32px 24px; /* top right bottom left*/
}



/* footer section - START */
footer {
    border-top: 1px solid rgb(0, 0, 0, 0.2);
    color: rgb(0, 0, 0, 0.6);
    font-size: small;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}

.copyright {
    display: flex;
    align-items: center;
    text-align: left;
    float: left;
    left: 0;
    padding-left: 24px;
}

.policies {
    display: flex;
    align-items: center;
    list-style: none;
    float:right;
    text-align: right;
    padding-right: 24px;
}

.policies li, .policies li a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.6);
    padding-left: 16px;
}
/* footer section - END */

/* hidden sections - START */
    .menu_mobile{
        display: none;
    }

    .midbannermobile{
        display: none;
    }

    .bottombanner_mobile{
        display: none;
    }

    .thesismobile{
        display: none;
    }


/* hidden sections - END */


/* media queries */
@media screen and (max-width: 640px){

    /* header - START */
    header .logo, header .menu{
        display: none;
    }

    /* menu mobile */
    header .menu_mobile{
        display: flex;
        width: 100%;
        height: 64px;
        margin: auto;
        padding-right: 24px;
        border: 1px solid gray;
    }

    .navbar{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: auto;
        list-style: none;
    }


    /* header - END */

    /* main section - START */
        /* TODO */
        .topbanner{
            background-color: white;
            color: black;
            font-family:  Arial, Helvetica, sans-serif;
            display: block;
            padding-bottom: 32px;
            align-items: center;
        }

        .topbanner img{
            width: 60%;
            padding: 0px;
            padding: 32px 24px 32px 24px; /* top right bottom left*/
            justify-content: center;
        }

        .topbanner_text{
            display: flex;
            flex-direction: column;
            padding-left: 16px;
        }

        .midbanner{
            display: none;
        }

        /* mid banner */
        .midbannermobile{
            background-color: white;
            color: black;
            font-family:  Arial, Helvetica, sans-serif;
            display: block;
            padding-bottom: 32px;
            justify-content: center;
        }

        .midbannermobile img{
            width: 60%;
            padding: 0px;
            padding: 32px 24px 32px 24px; /* top right bottom left*/
            justify-content: center;
        }

        .midbannermobile_text{
            display: flex;
            flex-direction: column;
            padding-left: 16px;
        }

        /* bottom banner */
        .bottombanner{
            display: none;
        }

        /*finalbanner mobile*/
        .finalbanner{
            background-color: white;
            color: black;
            font-family:  Arial, Helvetica, sans-serif;
            display: block;
            padding-bottom: 32px;
            justify-content: center;
        }

        .finalbanner img{
            width: 60%;
            padding: 0px;
            padding: 32px 24px 32px 24px; /* top right bottom left*/
            justify-content: center;
        }

        .finalbanner_text{
            display: flex;
            flex-direction: column;
            padding-left: 16px;
        }

        /*thesisbanner mobile*/
        .thesismobile{
            display: block;
        }

        .thsvidmobile video{
            width: 100%;
            align-content: center;
            padding-bottom: 24px;
        }


        

    /* main section - END */

    /* footer section - START */
        .policies{
            display: none;
        }

        .copyright{
            padding: 16px 0px;
        }

    /* footer section - END */

}